## 1. 1999- 2024 Features Analysis with Success Score
This notebook preps the data for feature analysis amongst all the features to see which features contribute the most to SHORT finish times OR points. Find correlation analysis 

Features per race, measured by position. Data

In [40]:
# # Query snowflake directly at some point, but for now create 
# import pandas as pd
df = pd.read_csv('../races_drivers_1999-2024.csv').drop(['URL','URL.1','DRIVERREF','YEAR','NAME','NUMBER','CODE','FORENAME','SURNAME','POSITIONTEXT','NUMBER.1'], axis=1)
# # fill position nulls with 26

# # Merge the duplicates columns into 1, only the non null values. otherwise if no null values leave as is. 
df['RACEID'] = df['RACEID'].where(df['RACEID'].notna(), df['RACEID.1'])
df['DRIVERID'] = df['DRIVERID'].where(df['DRIVERID'].notna(), df['DRIVERID.1'])
df['TIME'] = df['TIME'].where(df['TIME'].notna(), df['TIME.1'])

# # POSITION and POSITION ORDER= has R for retired
# # Name maybe get rid of as it has circuitID, year as it is all 2024
# # Nationality drop or one hot encode 
# # some rows are nan for miliseconds, fastestlap, fastestlaptime, 
df

,RACEID,ROUND,CIRCUITID,DATE,TIME,FP1_DATE,FP1_TIME,FP2_DATE,FP2_TIME,FP3_DATE,...,TIME.1,MILLISECONDS,FASTESTLAP,RANK,FASTESTLAPTIME,FASTESTLAPSPEED,STATUSID,DRIVERID.1,DOB,NATIONALITY
0,1,1,1,2009-03-29,06:00:00.000,NaN,NaN,NaN,NaN,NaN,...,1:34:15.784,5655784.0,17.0,3.0,1:28.020,216.891,1,18,1980-01-19,British
1,1,1,1,2009-03-29,06:00:00.000,NaN,NaN,NaN,NaN,NaN,...,+0.807,5656591.0,43.0,14.0,1:29.066,214.344,1,22,1972-05-23,Brazilian
2,1,1,1,2009-03-29,06:00:00.000,NaN,NaN,NaN,NaN,NaN,...,+1.604,5657388.0,50.0,10.0,1:28.916,214.706,1,15,1974-07-13,Italian
3,1,1,1,2009-03-29,06:00:00.000,NaN,NaN,NaN,NaN,NaN,...,+4.435,5660219.0,53.0,6.0,1:28.416,215.920,1,10,1982-03-18,German
4,1,1,1,2009-03-29,06:00:00.000,NaN,NaN,NaN,NaN,NaN,...,+4.879,5660663.0,53.0,9.0,1:28.712,215.199,1,4,1981-07-29,Spanish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10426,1144,24,24,2024-12-08,13:00:00.000,2024-12-06,09:30:00.000,2024-12-06,13:00:00.000,2024-12-07,...,NaN,NaN,57.0,1.0,1:25.637,222.002,11,825,1992-10-05,Danish
10427,1144,24,24,2024-12-08,13:00:00.000,2024-12-06,09:30:00.000,2024-12-06,13:00:00.000,2024-12-07,...,NaN,NaN,52.0,12.0,1:28.751,214.212,5,859,2002-02-11,New Zealander
10428,1144,24,24,2024-12-08,13:00:00.000,2024-12-06,09:30:00.000,2024-12-06,13:00:00.000,2024-12-07,...,NaN,NaN,NaN,0.0,NaN,NaN,4,815,1990-01-26,Mexican
10429,1144,24,24,2024-12-08,13:00:00.000,2024-12-06,09:30:00.000,2024-12-06,13:00:00.000,2024-12-07,...,NaN,NaN,14.0,19.0,1:29.482,212.462,130,822,1989-08-28,Finnish
10430,1144,24,24,2024-12-08,13:00:00.000,2024-12-06,09:30:00.000,2024-12-06,13:00:00.000,2024-12-07,...,NaN,NaN,5.0,17.0,1:29.411,212.631,5,861,2003-05-27,Argentinian

In [ ]:
# Handling nulls. Which columns have nulls?
null_counts= df.isnull().sum()
null_counts[null_counts > 0]

TIME                1483
FP1_DATE            8632
FP1_TIME            9072
FP2_DATE            8632
FP2_TIME            9072
FP3_DATE            8992
FP3_TIME            9372
QUALI_DATE          8632
QUALI_TIME          9072
SPRINT_DATE        10071
SPRINT_TIME        10131
POSITION            2301
TIME.1              5613
MILLISECONDS        5613
FASTESTLAP          2179
RANK                1921
FASTESTLAPTIME      2179
FASTESTLAPSPEED     2179
dtype: int64