## 1. Latest Year Specific Features Analysis
Only 479 rows.....

In [25]:
# Query snowflake directly at some point, but for now create 
import pandas as pd
df = pd.read_csv('../races_drivers.csv').drop(['URL','DRIVERREF','YEAR','NAME','URL_2','NUMBER_2','NUMBER','CODE','FORENAME','SURNAME','POSITIONTEXT'], axis=1)

# Merge the duplicates columns into 1, only the non null values. otherwise if no null values leave as is. 
df['RACEID'] = df['RACEID'].where(df['RACEID'].notna(), df['RACEID_2'])
df['DRIVERID'] = df['DRIVERID'].where(df['DRIVERID'].notna(), df['DRIVERID_2'])
df['TIME'] = df['TIME'].where(df['TIME'].notna(), df['TIME_2'])

# POSITION and POSITION ORDER= has R for retired
# Name maybe get rid of as it has circuitID, year as it is all 2024
# Nationality drop or one hot encode 
# some rows are nan for miliseconds, fastestlap, fastestlaptime, 
df

,RACEID,ROUND,CIRCUITID,DATE,TIME,FP1_DATE,FP1_TIME,FP2_DATE,FP2_TIME,FP3_DATE,...,TIME_2,MILLISECONDS,FASTESTLAP,RANK,FASTESTLAPTIME,FASTESTLAPSPEED,STATUSID,DRIVERID_2,DOB,NATIONALITY
0,1121,1,3,2024-03-02,15:00:00,2024-02-29,11:30:00,2024-02-29,15:00:00,2024-03-01,...,1:31:44.742,5504742.0,39.0,1,1:32.608,210.383,1,830,1997-09-30,Dutch
1,1121,1,3,2024-03-02,15:00:00,2024-02-29,11:30:00,2024-02-29,15:00:00,2024-03-01,...,+22.457,5527199.0,40.0,4,1:34.364,206.468,1,815,1990-01-26,Mexican
2,1121,1,3,2024-03-02,15:00:00,2024-02-29,11:30:00,2024-02-29,15:00:00,2024-03-01,...,+25.110,5529852.0,44.0,6,1:34.507,206.156,1,832,1994-09-01,Spanish
3,1121,1,3,2024-03-02,15:00:00,2024-02-29,11:30:00,2024-02-29,15:00:00,2024-03-01,...,+39.669,5544411.0,36.0,2,1:34.090,207.069,1,844,1997-10-16,Monegasque
4,1121,1,3,2024-03-02,15:00:00,2024-02-29,11:30:00,2024-02-29,15:00:00,2024-03-01,...,+46.788,5551530.0,40.0,12,1:35.065,204.946,1,847,1998-02-15,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,1144,24,24,2024-12-08,13:00:00,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,...,NaN,NaN,57.0,1,1:25.637,222.002,11,825,1992-10-05,Danish
475,1144,24,24,2024-12-08,13:00:00,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,...,NaN,NaN,52.0,12,1:28.751,214.212,5,859,2002-02-11,New Zealander
476,1144,24,24,2024-12-08,13:00:00,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,...,NaN,NaN,NaN,0,NaN,NaN,4,815,1990-01-26,Mexican
477,1144,24,24,2024-12-08,13:00:00,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,...,NaN,NaN,14.0,19,1:29.482,212.462,130,822,1989-08-28,Finnish
478,1144,24,24,2024-12-08,13:00:00,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,...,NaN,NaN,5.0,17,1:29.411,212.631,5,861,2003-05-27,Argentinian

In [ ]:
# Handling nulls. Which columns have nulls? Why is time2 got nulls?
null_counts= df.isnull().sum()
null_counts[null_counts > 0]

FP3_DATE           120
FP3_TIME           120
SPRINT_DATE        359
SPRINT_TIME        359
POSITION            48
TIME_2             191
MILLISECONDS       191
FASTESTLAP          32
FASTESTLAPTIME      32
FASTESTLAPSPEED     32
dtype: int64